.appetize {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  color: white;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  padding-top: 20px;
  margin: 0 auto 2em auto;
}

.gallery div{
  width: 50%;
  position: relative;
  opacity: 1.0;
}
.gallery div img {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto
}